@page
@using cw6.Models
@model cw6.Pages.IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/index.css">
    <title>Index</title>
</head>
<body>
<h1>RAZOR PAGE CW6 - INDEX</h1>
<table>
    <span id="dateTime"></span>
    <tr>
        <th>Game Name</th>
        <th>Game Cost</th>
        <th>Game Year</th>
    </tr>
    @foreach (var item in Model.Games)
    {
        <tr>
            <td>@item.GameName</td>
            @if (item.GameCost >= 100)
            {
                <td style="color: red;">@item.GameCost</td>
            }
            else
            {
                <td>@item.GameCost</td>
            }
            
            <td>@item.GameYear</td>
        </tr>

    }
</table>
<script src="~/index.js" defer></script>
</body>
</html>