<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/styl.css">
    <title>Rozgrywki footbolowe</title>
</head>
<body>
<header>
    <h2>Światowe rozgrywki piłkarskie</h2>
    <img src="/Images/obraz1.jpg" alt="boisko">
</header>
<main class="container">
    @RenderBody()
</main>
</body>
</html>