body{
    background-color:crimson;
    font-family:Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
}
header{
    color: white;
    text-align: center;
    height: 370px;
}

#matches{
    display:flex;
    justify-content: center;
}

#matches div{
    color: white;
    text-align:center;
    padding: 10px;
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
}
#matches div:hover{
    border: 1px solid white;
}
#main{
    height: 50px;
    background-color: whitesmoke;
}
#left{
    height: 230px;
    width: 70%;
    float: left;
    background-color: whitesmoke;
}
#right{
    text-align: right;
    height: 230px;
    width: 30%;
    float: left;
    background-color: whitesmoke;
}