h1{
    border-bottom: 1px solid #803131;
}
.container{
    margin: 20px;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.menuButton{
    background-color: #1e42f4;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    width: fit-content;
    transition: all 0.5s;
    cursor: pointer;
}
.menuButton:hover{
    background-color: #1e7bf4;
    text-align: center;
    transition: all 0.5s;
}
