@page
@model cw5.Pages.Strona2Model
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona 2</title>
</head>
<body>
    <h1>RAZOR PAGE - STRONA 2</h1>
    <div>Tak</div>
    <a href="Index.cshtml">Strona główna</a>
</body>
</html>
