@using ark2_sol.Models
@using Match = ark2_sol.Models.Match
@model Int32
@{
    ViewBag.Title = "Rozgrywki futbolowe";
    Layout = "_Layout";
    List<Match> matches = ViewBag.Matches;
}
<section id="matches">
    @{ int i = 0;}
    @foreach (Match match in matches)
    {
        <div>
            <h3>@match.Team1 - @match.Team2 </h3><br>
            <h4> @match.Score </h4><br>
            w dniu: @match.Date <br>
        </div>
    }
</section>
<section id="main">
    <h2>Reprezentacja Polski</h2>
</section>
<section id="left">
    <a asp-action="Index">Strona główna</a>
</section>
<section id="right">
    <img src="Images/zad1.png" alt="">
    <p>Autor: 00000000000</p>
</section>