@model cw11_layout.Models.MyGame
<h2>Edytuj grę</h2>
<form asp-action="UpdateGame" method="post">
    <div class="row m-2">
        <label class="col-3 text-end" asp-for="Title"></label>
        <input type="text" asp-for="Title" class="col-6" />
        <span asp-validation-for="Title" class="col-3 text-danger"></span>
    </div>
    <div class="row m-2">
        <label class="col-3 text-end" asp-for="Studio"></label>
        <input type="text" asp-for="Studio" class="col-6" />
        <span asp-validation-for="Studio" class="col-3 text-danger"></span>
    </div>
    <div class="row m-2">
        <label class="col-3 text-end" asp-for="Genre"></label>
        <input type="text" asp-for="Genre" class="col-6" />
        <span asp-validation-for="Genre" class="col-3 text-danger"></span>
    </div>
    <div class="row m-2">
        <label class="col-3 text-end" asp-for="Price"></label>
        <input type="number" asp-for="Price" class="col-6" step="0.01"/>
        <span asp-validation-for="Price" class="col-3 text-danger"></span>
    </div>
    <input type="submit" value="Edytuj" class="col-6 offset-3 btn btn-primary" />
</form>